---
Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-identifier-length,
  -readability-braces-around-statements,
  -misc-include-cleaner,
  -bugprone-reserved-identifier,
  -cert-dcl37-c,
  -cert-dcl51-cpp,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -cppcoreguidelines-macro-to-enum,
  -modernize-macro-to-enum,
  -readability-use-concise-preprocessor-directives,
  -misc-header-include-cycle,
  -bugprone-branch-clone,
  -bugprone-switch-missing-default-case,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-init-variables,
  -readability-isolate-declaration,
  -misc-unused-parameters,
  -misc-redundant-control-flow,
  -readability-redundant-declaration,
  -readability-redundant-control-flow,
  -bugprone-signal-handler,
  -cert-msc54-cpp,
  -cert-sig30-c,
  -bugprone-multi-level-implicit-pointer-conversion,
  -clang-analyzer-security-insecureAPI-DeprecatedOrUnsafeBufferHandling,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -clang-diagnostic-error

WarningsAsErrors: '*'
HeaderFilterRegex: '^wm-.*$|^test-.*$'
FormatStyle: file
HeaderFileExtensions:
  - h
ImplementationFileExtensions:
  - c
ExcludeHeaderFilterRegex: '^/nix/'
CheckOptions:
  # Allow higher cognitive complexity
  readability-function-cognitive-complexity.Threshold: 110
  readability-uppercase-literal-suffix.IgnoreFloatLiterals: true
SystemHeaders: false
